<div class="input-holder">
  <% if @errors.member?(input_id) %>
    <%= label_tag(input_id, "DOI/PMID", :class => "error-color") %>
    <div class="error-holder">
      <%= text_field_tag(input_id, params[input_id]) %>
      <span class="doi-pmid-remove">Remove</span>
      <p class="error-message error-color"><%= @errors[input_id] %></p>
    </div>
  <% else %>
    <%= label_tag(input_id, "DOI/PMID") %>
    <div>
      <%= text_field_tag(input_id, params[input_id].nil? ? "" : params[input_id]) %>
      <% if !example.nil? && example %>
        <p class="input-example">ex. 10.1371/journal.pone.0061406</p>
      <% end %>
    </div>
  <% end %>
</div>
