<%# TODO: this is a work in progress  %>

<div class="content wrapper">
  <%= form_tag("/id", :method => "post", :class => "doi-pmid-form") do %>
    <h2 class="albert-light-normal">Upload File</h2>
    <p class="upload-message"><%= @num_valid_dois %> DOI/PMID valid records added to your list.</p>
    <p class="error-title error-color">Please review and correct the <%= @errors.length %> invalid records below.</p>
    <% @errors.keys.each do |field| %>
      <%= render "doi_field", :input_id => field, :example => false %>
    <% end %>
    <div class="upload-file-error-input-holder">
      <%= submit_tag "Add to My List", :class => "button-hover-dark-black submit-btn add-to-list-btn upload-add-to-my-list" %>
      <%= submit_tag "Ignore Errors", :class => "ignore-errors button-hover-dark-blue submit-btn add-more-fields-btn" %>
      <p>If you ignore these errors, they will be automatically deleted from your list.</p>
    </div>
  <% end %>
</div>
