<div class="content wrapper">
  <%= form_tag("/id", :method => "post", :class => "doi-pmid-form") do %>
    <h2 class="albert-light-normal">Find Articles by DOI/PMID</h2>
    <% if @errors.length > 0 %>
      <p class="error-title error-color">Please correct the errors below.</p>
    <% end %>
    <% (1..8).each do |i| %>
      <div class="input-holder">
        <% input_id = "doi-pmid-#{i}".intern %>
        <% if @errors.member?(input_id) %>
          <%= label_tag(input_id, "DOI/PMID", :class => "error-color") %>
          <div class="error-holder">
            <%= text_field_tag(input_id, params[input_id]) %>
            <p class="error-message error-color">This DOI is not a PLOS article</p>
            <span class="doi-pmid-remove">Remove</span>
          </div>
        <% else %>
          <%= label_tag(input_id, "DOI/PMID") %>
          <div>
            <%= text_field_tag(input_id, params[input_id].nil? ? "" : params[input_id]) %>
            <% if i == 1 %>
              <p class="input-example">ex. 10.1371/journal.pone.0061406</p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="input-holder">
      <input class="button-hover-dark-black submit-btn add-to-list-btn" type="submit" value="Add to My List" />
      <input id="add-fields" class="button-hover-dark-blue submit-btn add-more-fields-btn" type="submit" value="Add More Fields" />
    </div>
  <% end %>
</div>
