<%= form_tag("/update-session") do %>
  <%= csrf_meta_tag %>
  <% @docs.each do |doc| %>
    <div class="article-info cf">
      <input class="check-save-article" type="checkbox"
          <%= @articles_checked ? 'checked="yes"' : '' %> name="" id="" value="<%= doc['id'] %>">
      <a href="http://dx.doi.org/info:doi/<%= doc['id'] %>"><%= doc["title"] %></a>
      <p>
        <% doc["author_display"].each_with_index do |author, idx| %>
          <%= author %><% if idx < doc["author_display"].length - 1 %>,<% end %>
        <% end %>
      </p>
      <p>
        Research Article
        <span>|</span>
        published <%= doc["publication_date"].strftime("%d %b %Y") %>
        <span>|</span>
        <%= doc["journal"] %>
      </p>
    </div>
  <% end %>
<% end %>
<div class="pagination">
  <span class="previous"></span>
  <span class="pagination-number pagination-selected">1</span>
  <a href="fixme" class="pagination-number">2</a>
  <a href="fixme" class="pagination-number">3</a>
  <a href="fixme" class="pagination-number">4</a>
  <a href="fixme" class="pagination-number">5</a>
  <a href="fixme" class="pagination-number">6</a>
  <a href="fixme" class="next"></a>
</div>
