<%= form_tag("/update-session") do %>
  <%= csrf_meta_tag %>
<%
  require "date"
  @docs.each do |doc|
  
    # Article info that we want to send to the server when the checkbox is clicked.
    # We include publication_date since that is our default sort order on the
    # preview list page (and we don't want to have to re-query solr for it).
    doc_key = "#{doc['id']}|#{doc['publication_date'].strftime("%s")}"  # Convert to unix timestamp
%>
    <div class="article-info cf">
      <input class="check-save-article" type="checkbox"
          <%= @articles_checked ? 'checked="yes"' : '' %> name="" id="" value="<%= doc_key %>">
      <a href="http://dx.doi.org/info:doi/<%= doc['id'] %>"><%= doc["title"] %></a>

      <% if !doc["author_display"].nil? %>
      <p>
        <% doc["author_display"].each_with_index do |author, idx| %>
          <%= author %><% if idx < doc["author_display"].length - 1 %>,<% end %>
        <% end %>
      </p>
      <% end %>
      
      <p>
        <%= doc["article_type"] %>
        <span>|</span>
        published <%= doc["publication_date"].strftime("%d %b %Y") %>
        <span>|</span>
        <%= doc["cross_published_journal_name"][0] %>
      </p>
    </div>
  <% end %>
<% end %>

<%= render "pager", :results_per_page => $RESULTS_PER_PAGE %>
