    <ul class="progress-bar">
      <li class="progress-bar-tab1-active progress-bar-tab1">Select Articles</li>
      <li class="progress-bar-tab2">Preview List</li>
      <li class="progress-bar-tab3">View Report</li>
    </ul>
  </div>
</header>

<div class="content wrapper">
 <div class="article-lists">
   <h2 class="albert-light-normal">Add selected articles to your list</h2>
   <% if @total_found > 0 %>
     <p>1-<%= @total_found > 25 ? 25 : @total_found %> of <%= number_with_delimiter(@total_found, :delimiter => ',') %> results for
   <% else %>
     <p>No results found for
   <% end %>
     <% if params[:everything].length > 0 %>
       keyword:
       <span class="keyword"><%= params[:everything] %>;</span>
     <% end %>
     <% if params[:author].length > 0 %>
       <span>author:
       <span class="author-name"><%= params[:author] %>;</span>
       </span>
     <% end %>
     <% if params[:author_country].length > 0 %>
       <span>author country:
       <span class="author-country"><%= params[:author_country] %>;</span>
       </span>
     <% end %>
     <% if !@start_date.nil? && !@end_date.nil? %>
       <span>publication date: <span class="publication-date"><%= @start_date.strftime("%m-%d-%Y") %></span>
       to
       <span class="publication-date"><%= @end_date.strftime("%m-%d-%Y") %></span></span>
     <% end %>
     <span>journals: <span class="journals"><%= params[:cross_published_journal_name] %></span></span>
   </p>
   <ul>
     <li class="select-all-articles-link">select all</li>
     <li class="unselect-all-articles-link">unselect all</li>
   </ul>
   <div class="add-select-box-holder">
     <span class="add-select-label">Sort by</span>
     <select id="add-article-select">
       <option selected>Relevance</option>
       <option></option>
       <option></option>
       <option></option>
     </select>
   </div>
   <p class="select-articles-message albert-light-normal invisible"><span id="select-articles-message-text"></span> <a href="fixme">Select all 87 articles</a>.</p>
   <form>
     <% @docs.each do |doc| %>
       <div class="article-info cf">
         <input class="check-save-article" type="checkbox" name="" id="" value="1">
         <a href="http://dx.doi.org/info:doi/<%= doc['id'] %>"><%= doc["title"] %></a>
         <p>
           <% doc["author_display"].each_with_index do |author, idx| %>
             <%= author %><% if idx < doc["author_display"].length - 1 %>,<% end %>
           <% end %>
         </p>
         <p>
           Research Article
           <span>|</span>
           published <%= doc["publication_date"].strftime("%d %b %Y") %>
           <span>|</span>
           <%= doc["journal"] %>
         </p>
       </div>
     <% end %>
   </form>
   <div class="pagination">
     <span class="previous"></span>
     <span class="pagination-number pagination-selected">1</span>
     <a href="fixme" class="pagination-number">2</a>
     <a href="fixme" class="pagination-number">3</a>
     <a href="fixme" class="pagination-number">4</a>
     <a href="fixme" class="pagination-number">5</a>
     <a href="fixme" class="pagination-number">6</a>
     <a href="fixme" class="next"></a>
   </div>
 </div>
 <div class="aside-container rollover-fixed">
   <form class="preview-list-aside-form">
     <input class="preview-list-count preview-list-submit button-hover-dark-black submit-btn right-list-btn" type="submit" value="Preview List" name="" />
     <span class="btn-arrow"></span>
   </form>
   <p class="albert-light-normal">Add more articles</p>
   <ul class="add-article-links">
     <li><a href="fixme" class="article-links">Search Again</a></li>
     <li><a href="fixme" class="article-links">By DOI/PMID</a></li>
     <li><a href="fixme" class="article-links">Upload File</a></li>
   </ul>
 </div>
</div>
