
<div class="content wrapper cf">
 <div class="article-lists">
   <h2 class="albert-light-normal">Add selected articles to your list</h2>
   <% if @total_found > 0 %>
     <p><%= @start_result %>-<%= @end_result %> of <%= number_with_delimiter(@total_found, :delimiter => ',') %> results for
   <% else %>
     <p>No results found for
   <% end %>
     <% if !params[:everything].nil? && params[:everything].length > 0 %>
       keyword:
       <span class="keyword"><%= params[:everything] %>;</span>
     <% end %>
     <% if !params[:author].nil? && params[:author].length > 0 %>
       <span>author:
       <span class="author-name"><%= params[:author] %>;</span>
       </span>
     <% end %>
     <% if !params[:author_country].nil? &&params[:author_country].length > 0 %>
       <span>author country:
       <span class="author-country"><%= params[:author_country] %>;</span>
       </span>
     <% end %>
     <% if !@start_date.nil? && !@end_date.nil? %>
       <span>publication date: <span class="publication-date"><%= @start_date.strftime("%m-%d-%Y") %></span>
       to
       <span class="publication-date"><%= @end_date.strftime("%m-%d-%Y") %></span></span>
     <% end %>
     <span>journals: <span class="journals"><%= params[:cross_published_journal_name] %></span></span>
   </p>
   <ul>
     <li class="select-all-articles-link">select all</li>
     <li class="unselect-all-articles-link">unselect all</li>
   </ul>
   <div class="add-select-box-holder">
     <span class="add-select-label">Sort by</span>
     <%= select_tag(:sort, options_for_select([
             ["Relevance", ""],
             ["Date, newest first", "publication_date desc"],
             ["Date, oldest first", "publication_date asc"],
             ["Most views, last 30 days", "counter_total_month desc"],
             ["Most views, all time", "counter_total_all desc"],
             ["Most cited, all time", "alm_scopusCiteCount desc"],
             ["Most bookmarked", "sum(alm_citeulikeCount, alm_mendeleyCount) desc"],
             ["Most shared in social media", "sum(alm_twitterCount, alm_facebookCount) desc"],
             ["Most tweeted", "alm_twitterCount desc"]
             ], params[:sort]), :class => "styled", :id => "search_results_sort_order_select") %>

   </div>
   <p class="select-articles-message albert-light-normal invisible">
     <span id="select-articles-message-text"></span>
     <span id="select-all-articles-message-text"><a href="#" id="select_all_searchresults">Select the first __SELECT_ALL_NUM__ articles</a>.</span>
   </p>
   <div id="select-all-spinner" class="ajax_spinner"></div>
   <% @articles_checked = false %>
   <%= render "article_list" %>
 </div>
 <div class="aside-container rollover-fixed">
   <form class="preview-list-aside-form" action="/preview-list" method="get">
     <input id="preview-list-submit" class="preview-list-count preview-list-submit button-hover-dark-black submit-btn right-list-btn" type="submit" value="Preview List" name="" />
     <span class="btn-arrow"></span>
   </form>
   <p class="albert-light-normal">Add more articles</p>
   <ul class="add-article-links">
     <li><a href="/" class="article-links">Search Again</a></li>
     <li><a href="/id/" class="article-links">By DOI/PMID</a></li>
     <li><a href="/upload" class="article-links">Upload File</a></li>
   </ul>
 </div>
</div>

<div id="gray-out-screen"></div>

<div id="article-limit-error-message" style="display: none;">
  The maximum report size is <%= APP_CONFIG["article_limit"] %> articles. Go to
  <a href="/preview-list">Preview List</a> and remove articles before adding
  more to your selection.
</div>

<div id="partial-select-all-error-message" style="display: none;"></div>

<div id="solr-500-error-message" style="display: none;">
  Our search server is not responding.  Please try again in a few minutes.
</div>
