
<div class="content wrapper cf">
 <div class="article-lists">
   <h2 class="text-light-normal">Add selected articles to your list</h2>
   <% if @total_found > 0 %>
     <p><%= @start_result %>-<%= @end_result %> of <%= number_with_delimiter(@total_found, :delimiter => ',') %> results for
   <% else %>
     <p>No results found for
   <% end %>
     <% if params.has_key?("unformattedQueryId") %>
      <span class="keyword"><%=params["unformattedQueryId"]%>;</span>
      <% if params.has_key?("filterJournals") %>
      <span>journals: <span class="journals"><%= @filter_journal_names.join(" or ") %></span></span>
      <% else %>
      <span>journals: <span class="journals">All Journals</span></span>
      <% end %>
     <% else %>
       <% if !params[:everything].nil? && params[:everything].length > 0 %>
         keyword:
         <span class="keyword"><%= params[:everything] %>;</span>
       <% end %>
       <% if !params[:author].nil? && params[:author].length > 0 %>
         <span>author:
         <span class="author-name"><%= params[:author] %>;</span>
         </span>
       <% end %>
       <% if !params[:author_country].nil? &&params[:author_country].length > 0 %>
         <span>author country:
         <span class="author-country"><%= params[:author_country] %>;</span>
         </span>
       <% end %>
       <% if !@start_date.nil? && !@end_date.nil? %>
         <span>publication date: <span class="publication-date"><%= @start_date.strftime("%m-%d-%Y") %></span>
         to
         <span class="publication-date"><%= @end_date.strftime("%m-%d-%Y") %></span></span>
       <% end %>
       <span>journals: <span class="journals"><%= params[:cross_published_journal_name] %></span></span>

     <% end %>
   </p>

   <% if @total_found > 0 %>
   <ul>
     <li class="select-all-articles-link">select all</li>
     <li class="unselect-all-articles-link">unselect all</li>
   </ul>
   <div class="add-select-box-holder">
    <span class="add-select-label">Sort by</span>

    <%= select_tag(
      :sort,
      options_for_select(SolrRequest::SORTS.to_a, params[:sort]),
      class: "styled",
      id: "search_results_sort_order_select"
    )
    %>

   </div>
   <% end %>

   <p class="select-articles-message text-light-normal invisible">
     <span id="select-articles-message-text"></span>
     <span id="select-all-articles-message-text"></span>
   </p>
   <div id="select-all-spinner" class="ajax_spinner"></div>
   <% @articles_checked = false %>
   <%= render "article_list" %>
 </div>
 <%= render "right_nav", :current_page => :add_articles %>
</div>

<div id="gray-out-screen"></div>

<div id="viz-limit-error-message" style="display: none;">
  Although the ALM report data can contain up to <%= APP_CONFIG["article_limit"] %> articles,
  the maximum size for visualizations is <%= APP_CONFIG["viz_limit"] %> articles.
</div>

<div id="article-limit-error-message" style="display: none;">
  The maximum report size is <%= APP_CONFIG["article_limit"] %> articles. Go to
  <a href="/preview-list">Preview List</a> and remove articles before adding
  more to your selection.
</div>

<div id="partial-select-all-error-message" style="display: none;"></div>

<div id="solr-500-error-message" style="display: none;">
  Our search server is not responding.  Please try again in a few minutes.
</div>
