
    <div class="content wrapper">
    <%= form_tag("/add-articles", :method => "get", :class => "home-form") do %>
        <h2 class="albert-light-normal">Search all Articles</h2>
        <div class="input-holder">
          <%= label_tag(:everything, "Keyword") %>
          <%= text_field_tag(:everything) %>
        </div>
        <div class="input-holder">
          <%= label_tag(:author, "Author") %>
          <%= text_field_tag(:author) %>
        </div>
        <div class="input-holder">
          <%= label_tag(:author_country, "Author Country") %>
          <%= text_field_tag(:author_country) %>
        </div>
        <div class="input-holder">
          <%= label_tag(:institution) %>
          <%= text_field_tag(:institution) %>
        </div>
        <div class="input-holder">
          <%= label_tag(:publication_days_ago, "Publication date") %>
          <%= select_tag(:publication_days_ago,
              options_for_select(
                  [["All Time", -1],
                  ["Last 30 days", 30],
                  ["Last 365 days", 365],
                  ["Custom date range", 0]]), :class => "styled") %>
          <div class="date-input-fields">
            <%= text_field_tag(:datepicker1, nil, :placeholder => "MM-DD-YYYY") %>
            <span>to</span>
            <%= text_field_tag(:datepicker2, nil, :placeholder => "MM-DD-YYYY") %>
          </div>
        </div>
        <div class="input-holder">
          <%= label_tag(:subject, "Subject Area") %>
          <%= text_field_tag(:subject) %>
        </div>
        <div class="input-holder">
          <%= label_tag(:cross_published_journal_name, "Journal") %>
          <%= select_tag(:cross_published_journal_name, options_for_select(@journals), :class => "styled") %>
        </div>
        <div class="input-holder">
          <%= label_tag(:financial_disclosure, "Funder name or funding number") %>
          <%= text_field_tag(:financial_disclosure) %>
        </div>
        <div class="input-holder">
          <%= submit_tag "Search", :class => "button-hover-dark-black submit-btn" %>
          <input class="reset-btn" type="reset" value="Clear All" />
        </div>
      <% end %>
      <div class="aside aside-container">
        <h2 class="albert-light-normal">Find Specific Articles</h2>
        <a class="button-hover-dark-black submit-btn" href="fixme">By DOI/PMID</a>
        <a class="button-hover-dark-black submit-btn" href="fixme">Upload File</a>        
      </div>
      <div class="articles-list cf">
        <h2 class="albert-light-normal">Browse the 'Best in Class' articles from PLOS</h2>
        	<div>
            <a href="fixme"><span class="top-views"></span><span>Top Views</span></a>
            <a href="fixme"><span class="top-bookmarked"></span><span>Top Bookmarked</span></a>
            <a href="fixme"><span class="top-tweets"></span><span>Top Tweets</span></a>
            <a href="fixme"><span class="top-cited"></span><span>Top Cited</span></a>
            <a href="fixme"><span class="top-shares"></span><span>Top Shares</span></a>
          </div>
      </div>
      <section class="sample-reports cf">
        <h2 class="albert-light-normal">Explore sample reports</h2>
        <a href="/add-articles?utf8=✓&everything=&author=&author_country=&institution=&publication_days_ago=-1&datepicker1=&datepicker2=&subject=&cross_published_journal_name=All+Journals&financial_disclosure=Alzheimer%27s+Association&commit=Search" class="sample-reports-block-1">
          <%= image_tag "home.sample.reports.img1.plos-alm.jpg", :height => '173', :width => '216', :alt => 'Sample Reports Funder' %>
          <span class="albert-light-normal">Funder:</span>
          <span class="albert-light-normal">Alzheimer's Association</span>
        </a>
        <a href="/add-articles?utf8=✓&everything=&author=&author_country=&institution=Harvard+University&publication_days_ago=-1&datepicker1=&datepicker2=&subject=&cross_published_journal_name=All+Journals&financial_disclosure=&commit=Search" class="sample-reports-block-2">
          <%= image_tag "home.sample.reports.img2.plos-alm.jpg", :height => '173', :width => '216', :alt => 'Sample Reports Funder' %>
          <span class="albert-light-normal">Institution:</span>
          <span class="albert-light-normal">Harvard University</span>
        </a>
        <a href="/add-articles?utf8=✓&everything=&author=&author_country=&institution=&publication_days_ago=-1&datepicker1=&datepicker2=&subject=Evolutionary+Biology&cross_published_journal_name=All+Journals&financial_disclosure=&commit=Search" class="sample-reports-block-3">
          <%= image_tag "home.sample.reports.img3.plos-alm.jpg", :height => '173', :width => '216', :alt => 'Sample Reports Funder' %>
          <span class="albert-light-normal">Subject Area:</span>
          <span class="albert-light-normal">Evolutionary Biology (20120)</span>
        </a>
        <a href="/add-articles?utf8=✓&everything=&author=Michael+B.+Eisen&author_country=&institution=&publication_days_ago=-1&datepicker1=&datepicker2=&subject=&cross_published_journal_name=All+Journals&financial_disclosure=&commit=Search" class="sample-reports-block-4">
          <%= image_tag "home.sample.reports.img4.plos-alm.jpg", :height => '173', :width => '216', :alt => 'Sample Reports Funder' %>        	
          <span class="albert-light-normal">Author:</span>
          <span class="albert-light-normal">Michael B. Eisen</span>
        </a>
      </section>
    </div>