
<div class="content wrapper cf">

  <div class="preview-list">
    <form class="preview-form" action="/preview-list" method="get">
      <h2 class="albert-light-normal">Review your list of articles</h2>
      <p><%= @start_result %>-<%= @end_result %> of <%= @total_found %> articles</p>
      <% @articles_checked = true %>
      <%= render "article_list" %>
      <div class="input-list">
        <input class="reset-btn" type="reset" value="Clear All" />
      </div>
    </form>
  </div>
  <%= render "right_nav", :current_page => :preview_list %>
</div>
