<div class="view-report<%= @report_sub_tab == :metrics ? ' metrics-view-report' : '' %>">

  <% if (@report_sub_tab == :metrics) %>
    <%= link_to "Metrics Data", {:controller => "reports",  :action => "metrics", :id => @report }, :class => "metrics-icon metrics-icon-active" %>
  <% else %>
    <%= link_to "Metrics Data", {:controller => "reports",  :action => "metrics", :id => @report }, :class => "metrics-icon" %>
  <% end %>

  <% if @report.report_dois.length > APP_CONFIG["viz_limit"] %>
    <div class="inactive-viz-holder">
      <span class="inactive-viz-link chart-view">Visualizations</span>
      <span class="inactive-viz-msg">The limit for visualizations is <%= APP_CONFIG["viz_limit"] %> articles.</span>
    </div>
  <% else %>
    <%= link_to "Visualizations", visualizations_path(@report), class: ["chart-view", (@report_sub_tab == :visualizations ? "chart-view-active" : nil)] %>
  <% end %>

  <span class="download-visuals">
    <%= link_to "Edit List", preview_path, class: "edit-list" %>
    <a href="/start-over" class="start-over">Start Over</a>
  </span>
</div>
