<div class="view-report<%= @report_sub_tab == :metrics ? ' metrics-view-report' : '' %>">

  <% if (@report_sub_tab == :metrics) %>
    <%= link_to "Metrics Data", {:controller => "reports",  :action => "metrics", :id => @report }, :class => "metrics-icon metrics-icon-active" %>
  <% else %>
    <%= link_to "Metrics Data", {:controller => "reports",  :action => "metrics", :id => @report }, :class => "metrics-icon" %>
  <% end %>

  <% if @report.report_dois.length > APP_CONFIG["viz_limit"] %>
    <div class="inactive-viz-holder">
      <span class="inactive-viz-link chart-view">Visualizations</span>
      <span class="inactive-viz-msg">The limit for visualizations is <%= APP_CONFIG["viz_limit"] %> articles.</span>
    </div>
  <% else
       if (@report_sub_tab == :visualizations) %>
         <%= link_to "Visualizations", {:controller => "reports",  :action => "visualizations", :id => @report }, :class => "chart-view chart-view-active" %>
       <% else %>
         <%= link_to "Visualizations", {:controller => "reports",  :action => "visualizations", :id => @report }, :class => "chart-view" %>
       <% end %>
  <% end %>

  <span class="download-visuals">
    <a href="/preview-list" class="edit-list">Edit List</a>
    <a href="/start-over" class="start-over">Start Over</a>
  </span>
</div>
