
<div class="content wrapper cf">

  <%= render "reports_nav" %>

  <div class="metrics-left-content">
    <% if @show_metrics_data %>
      <p class="albert-light-normal metrics-article-count"><%= @start_result %>-<%= @end_result %> of <%= @total_found %> articles</p>

      <% @dois.each do |doi| %>
      <div class="visualizations-list">
        <span class="list-numbers"><%= doi.display_index %></span>
        <h3 class="metrics-article-title nona-link" data-href="http://dx.doi.org/<%= doi.doi %>"><%= doi.solr["title"] %></h3>
        <% if !doi.solr["author_display"].nil? %>
        <p class="metrics-para">
          <% doi.solr["author_display"].each_with_index do |author, idx| %>
            <%= author %><% if idx < doi.solr["author_display"].length - 1 %>,<% end %>
          <% end %>
        </p>
        <% end %>
        <p class="metrics-description">
          Research Article
          <span class="vertical-separator">|</span>
          published <%= doi.solr["publication_date"].strftime("%d %b %Y") %>
          <span class="vertical-separator">|</span>
          <%= doi.solr["cross_published_journal_name"][0] %>
        </p>
        <p class="metrics-description nona-link" data-href="http://dx.doi.org/<%= doi.doi %>"><%= doi.doi %></p>

        <% if doi.alm.nil? %>
          <div class="metrics-no-data-para">This article data isn't available.  Please check back later.</div>
        <% else %>
          <a class="show-all-alms-link">Show all ALMs<span class="arrow-down"></span></a>
          <div class="metrics-table-content">
            <div class="metric-row-content">
                <table class="metrics-table <%= "metric-without-data" if !doi.alm[:viewed_data_present] %>" >
                  <caption>Viewed</caption>
                  <%= render "alm_stat", :data => doi.alm, :stat => :plos_html %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :plos_pdf %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :plos_xml %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :pmc_views %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :pmc_pdf %>
                  <%= render "alm_stat", :value => doi.alm[:total_usage], :label => "Total usage" %>
                </table>

                <table class="metrics-table <%= "metric-without-data" if !doi.alm[:saved_data_present] %>">
                  <caption>Saved</caption>
                  <%= render "alm_stat", :data => doi.alm, :stat => :citeulike %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :mendeley %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :figshare %>
                </table>
            </div>
            <div class="metric-row-content">
                <table class="metrics-table <%= "metric-without-data" if !doi.alm[:discussed_data_present] %>">
                  <caption>Discussed</caption>
                  <%= render "alm_stat", :data => doi.alm, :stat => :nature %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :research_blogging %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :scienceseeker %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :facebook %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :twitter %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :wikipedia %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :reddit %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :wordpress %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :f1000 %>
                  <%# TODO: comments.  get from ambra %>
                  <%# TODO: trackbacks.  get from ambra DB %>
                </table>

                <table class="metrics-table <%= "metric-without-data" if !doi.alm[:cited_data_present] %>">
                  <caption>Cited</caption>
                  <%= render "alm_stat", :data => doi.alm, :stat => :pmc_citations %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :crossref_citations %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :scopus_citations %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :datacite %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :pmc_europe %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :pmc_europe_data %>
                  <%= render "alm_stat", :data => doi.alm, :stat => :web_of_science %>
                </table>
            </div>
          </div>
        <% end %>

      </div>
      <% end %>
    <% end %>

  </div>

  <div class="report-downloads">
    <h2 class="albert-light-normal">Downloads</h2>
    <ul>
      <li>
        <%= link_to(options = {:controller => "reports", :action => "download_data", :id => @report, :format => :csv},
                html_options = {:id => "metrics-download-link"}) do %>
          <span class="csv"></span>
          <span class="file-name">Metrics Data</span>
          <span class="arrow"></span>
        <% end %>
      </li>

      <li>
        <%= link_to :controller => "reports", :action => "download_data", :id => @report, :format => :csv, :field => "doi" do %>
          <span class="csv"></span>
          <span class="file-name">Your List of Article DOIs</span>
          <span class="arrow"></span>
        <% end %>
      </li>
    </ul>

    <%= render "report_share" %>
  </div>
  
  <% if @show_metrics_data %>
  <%= render "pager", :results_per_page => 5 %>
  <% end %>

</div>
