  </div>
</header>
<div class="content wrapper">
  <div class="view-report metrics-view-report">
    <a class="metrics-icon metrics-icon-active">Metrics Data</a>
    <a href="fixme" class="chart-view">Visualizations</a>
    <span class="download-visuals">
    <a href="fixme" class="edit-list">Edit List</a>
    <a href="fixme" class="start-over">Start Over</a>
    </span>
  </div>
  <div class="metrics-left-content">
  <p class="metrics-article albert-light-normal">1-5 of 76 articles</p>
  
  <div class="metrics-list">
  
    <% @docs.each_with_index do |doc, i| %>
    <span class="list-numbers"><%= i + 1 %></span>
    <h2 class="albert-light-normal"><%= doc["title"] %></h2>
    <p class="metrics-para">
      <% doc["author_display"].each_with_index do |author, idx| %>
        <%= author %><% if idx < doc["author_display"].length - 1 %>,<% end %>
      <% end %>
    </p>
    <p class="metrics-description">
      Research Article
      <span class="vertical-separator">|</span>
      published <%= doc["publication_date"].strftime("%d %b %Y") %>
      <span class="vertical-separator">|</span>
      <%= doc["journal"] %>
    </p>
    <p class="metrics-description"><%= doc["id"] %></p>
    <a href="fixme">Show all ALMs<span></span></a>
    <div class="metrics-table-content">
      <div class="metric-row-content">
        <table class="metrics-table">
          <caption>Usage</caption>
           <tr>
             <td class="list-names">PLOS views</td>
             <td class="metrics-list-value">2,021</td>
            </tr>
            <tr>
              <td class="list-names">PLOS PDF downloads</td>
              <td class="metrics-list-value">4,567</td>
            </tr>
             <tr>
              <td class="list-names">PLOS XML downloads</td>
              <td class="metrics-list-value">5,234</td>
            </tr>
            <tr>
              <td class="list-names">PMC views</td>
              <td class="metrics-list-value">8,345</td>
            </tr>
            <tr>
              <td class="list-names">PMC PDF downloads</td>
              <td class="metrics-list-value">10,032</td>
            </tr>
            <tr>
              <th class="list-names total-usage">Total usage</th>
              <th class="metrics-list-value total-usage">120,654</th>
            </tr>
          </table>
          <table class="metrics-table">
            <caption>Social Network</caption>
            <tr>
              <td class="list-names">CiteULike</td>
              <td class="metrics-list-value">3</td>
            </tr>
            <tr>
              <td class="list-names">Connotea</td>
              <td class="metrics-list-value">5</td>
            </tr>
             <tr>
              <td class="list-names">Mendeley</td>
              <td class="metrics-list-value">6</td>
            </tr>
            <tr>
              <td class="list-names">Twitter</td>
              <td class="metrics-list-value">7</td>
            </tr>
            <tr>
              <td class="list-names">Facebook</td>
              <td class="metrics-list-value">8</td>
            </tr>
          </table>
        </div>
        <div class="metric-row-content">
          <table class="metrics-table">
            <caption>Citation</caption>
            <tr>
              <td class="list-names">PubMed Central</td>
              <td class="metrics-list-value">7</td>
            </tr>
            <tr>
              <td class="list-names">CrossRef</td>
              <td class="metrics-list-value">3</td>
            </tr>
             <tr>
              <td class="list-names">Scopus</td>
              <td class="metrics-list-value">78</td>
            </tr>
            <tr>
              <td class="list-names">Web of Science</td>
              <td class="metrics-list-value">1</td>
            </tr>
          </table>
          <table class="metrics-table">
            <caption>Blogs &amp; Media</caption>
            <tr>
              <td class="list-names">Nature Blogs</td>
              <td class="metrics-list-value">5</td>
            </tr>
            <tr>
              <td class="list-names">Research Blogging</td>
              <td class="metrics-list-value">6</td>
            </tr>
             <tr>
              <td class="list-names">Trackbacks</td>
              <td class="metrics-list-value">7</td>
            </tr>
            <tr>
              <td class="list-names">Wikipedia</td>
              <td class="metrics-list-value">8</td>
            </tr>
          </table>
        </div>
        <div class="metric-row-content">
          <table class="metrics-table  plos-table">
            <caption>PLOS Community</caption>
            <tr>
              <td class="list-names">Comments</td>
              <td class="metrics-list-value">2</td>
            </tr>
            <tr>
              <td class="list-names">Notes</td>
              <td class="metrics-list-value">5</td>
            </tr>
          </table>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="report-downloads">
    <h2 class="albert-light-normal">Downloads</h2>
    <ul>
      <li><a href="fixme"><span class="csv"></span><span class="file-name">Metrics Data<span> 1.2MB - CSV file</span></span><span class="arrow"></span></a></li>
      <li><a href="fixme"><span class="png"></span><span class="file-name">Visualizations<span> 5.7MB - PNGS in ZIP file</span></span><span class="arrow"></span></a></li>
      <li><a href="fixme"><span class="csv"></span><span class="file-name">Your List of Article DOIs<span> 157K - CSV file</span></span><span class="arrow"></span></a></li>
    </ul>
    <div class="report-share-block">
      <a class="submit-btn" href="fixme">Share</a>
      <div class="share-box">
        <a href="fixme"><span class="google-plus-logo"></span><span class="google-plus-text">Google+</span></a>
        <a href="fixme"><span class="facebook-logo"></span><span class="facebook-text">Facebook</span></a>
        <a href="fixme"><span class="twitter-logo"></span><span class="twitter-text">Twitter</span></a>
        <a href="fixme"><span class="email-logo"></span><span class="email-text">Email</span></a>
      </div>
    </div>
  </div>
  <div class="pagination metrics-pagination">
    <a href="fixme" class="previous"></a>
    <a href="fixme" class="pagination-number">1</a>
    <a href="fixme" class="pagination-number">2</a>
    <a href="fixme" class="pagination-number">3</a>
    <a href="fixme" class="pagination-number">4</a>
    <a href="fixme" class="pagination-number">5</a>
    <span class="pagination-number pagination-selected">6</span>
    <span class="next"></span>
  </div>
</div>
