
<div class="content wrapper cf">
  <%= render "reports_nav" %>

  <div class="visualizations-container">
    <% if @draw_viz %>
      <div class="visualizations-list">
        <div class="reports-header-div">
          <span class="list-numbers">1</span>
          <h2 class="text-light-normal">Article Usage and Citations as a function of Age</h2>
        </div>
        <div id="article_usage_and_citations_age_div"></div>
        <p class="info">Total usage includes page views and downloads from PLOS and PMC.
          Bubble size correlates with Scopus citations and bubble color with the PLOS journal.
        </p>
        <p>
          SOURCE: <%= @report.report_dois.length %> published articles from
          <%= @report.get_earliest_report_date.strftime("%B %d, %Y") %>
          to <%= @report.get_latest_report_date.strftime("%B %d, %Y") %>
        </p>
      </div>

      <div class="visualizations-list">
        <div class="reports-header-div">
          <span class="list-numbers">2</span>
          <h2 class="text-light-normal">Article Usage and Mendeley Bookmarks as a Function of Time</h2>
        </div>
        <div id="article_usage_and_mendeley_age_div"></div>
        <p class="info">Total usage includes page views and downloads from PLOS and PMC.
          Bubble size correlates with Mendeley bookmarks and bubble color with the PLOS journal.
        </p>
        <p>
          SOURCE: <%= @report.report_dois.length %> published articles from
          <%= @report.get_earliest_report_date.strftime("%B %d, %Y") %>
          to <%= @report.get_latest_report_date.strftime("%B %d, %Y") %>
        </p>
      </div>

      <% if !@is_currents_only %>
        <div class="visualizations-list">
          <div class="reports-header-div">
            <span class="list-numbers">3</span>
            <h2 class="text-light-normal">Article Usage by Subject Area</h2>
          </div>
          <div id="article_subject_div"></div>
          <p class="info">
            Rectangle size correlates with the number of articles associated with the subject area and the color intensity with total usage.
          </p>
          <p>
            SOURCE: <%= @report.report_dois.length %> published articles from
            <%= @report.get_earliest_report_date.strftime("%B %d, %Y") %>
            to <%= @report.get_latest_report_date.strftime("%B %d, %Y") %>
          </p>
        </div>
        <div class="visualizations-list">
          <div class="reports-header-div">
            <span class="list-numbers">4</span>
            <h2 class="text-light-normal">Research Articles by Location</h2>
          </div>
          <div id="article_location_div"></div>
          <p class="info">
            Geolocation of <%= @total_authors_data %> authors for <%= @report.report_dois.length %> articles.
            Bubble size and color correlates with the number of authors in that location.
          </p>
          <p>
            SOURCE: <%= @report.report_dois.length %> published articles from
            <%= @report.get_earliest_report_date.strftime("%B %d, %Y") %>
            to <%= @report.get_latest_report_date.strftime("%B %d, %Y") %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="report-downloads">
    <h2 class="text-light-normal">Print</h2>
    <ul>
      <li>
        <a id="download_viz">
          <span class="png"></span>
          <span class="file-name">Visualizations</span>
          <span class="arrow"></span>
        </a>
      </li>
    </ul>

    <%= render "report_share" %>
  </div>

</div>

<script type="text/javascript">
    function haveDataToDrawViz() {
      return <%= @draw_viz %>;
    }

    function drawVizForOne() {
      return false;
    }

    function getArticleUsageCitationsAgeData() {
        return <%= raw @article_usage_citations_age_data %>;
    }

    function getArticleUsageMendeleyAgeData() {
        return <%= raw @article_usage_mendeley_age_data %>;
    }

    function getArticleUsageCitationSubjectAreaData() {
      return <%= raw @article_usage_citation_subject_area_data %>;
    }

    function getArticleLocationData() {
      return <%= raw @article_locations_data %>;
    }
</script>
<%= javascript_include_tag "charts" %>
