
<%
  require "time"
  now = Time.new
%>
<script type="text/javascript">

  function getArticleUsageCitationsAgeData() {
    return <%= raw @article_usage_citations_age_data %>;
  }

  function getArticleUsageMendeleyAgeData() {
    return <%= raw @article_usage_mendeley_age_data %>;
  }
</script>
<%= javascript_include_tag "charts" %>

<div class="content wrapper">
  <%= render "reports_nav" %>

  <div class="visualizations-container">
    <div class="visualizations-list">
      <div class="reports-header-div">
        <span class="list-numbers">1</span>
        <h2 class="albert-light-normal">Article Usage and Citations as a function of Age</h2>
      </div>
      <div id="article_usage_and_citations_age_div" style="width: 670px; height: 392px;"></div>
      <p class="info">Total views are combined HTML vies and PDF downloads from the PLOS website.
        Bubble size correlates with Scopus citations, and bubble color with the PLOS journal.
        Data collected <%= now.strftime("%B %d, %Y") %>
      </p>
      <p>
        SOURCE: <%= @report.report_dois.length %> published articles from
        <%= @report.get_earliest_report_date.strftime("%B %d, %Y") %>
        to <%= @report.get_latest_report_date.strftime("%B %d, %Y") %>
      </p>
    </div>

    <div class="visualizations-list">
      <div class="reports-header-div">
        <span class="list-numbers">2</span>
        <h2 class="albert-light-normal">Article Usage and Mendeley Bookmarks as a Function of Time</h2>
      </div>
      <div id="article_usage_and_mendeley_age_div" style="width: 670px; height: 392px;"></div>
      <p class="info">Total views are combined HTML vies and PDF downloads from the PLOS website.
        Bubble size correlates with Mendeley bookmarks, and bubble color with the PLOS journal.
        Data collected <%= now.strftime("%B %d, %Y") %>
      </p>
      <p>
        SOURCE: <%= @report.report_dois.length %> published articles from
        <%= @report.get_earliest_report_date.strftime("%B %d, %Y") %>
        to <%= @report.get_latest_report_date.strftime("%B %d, %Y") %>
      </p>
    </div>

    <div class="visualizations-list">
      <span class="list-numbers">3</span>
      <h2 class="albert-light-normal">Article Usage and Citations by Subject Category</h2>
      <img src="assets/img/sample.reports.img3.plos-alm.png" height="392" width="609" alt="" />
      <p class="info">Rectangle size correlates with total views (HTML and PDF) from PLOS website.
        Color intensity correlates with number of Scopus citations.
      </p>
      <p>SOURCE: 75 published articles from Sept 25, 2009 to January 12, 2011</p>
    </div>
    <div class="visualizations-list last-visualizations-list">
      <span class="list-numbers">4</span>
      <h2 class="albert-light-normal">Research Articles by Location</h2>
      <img src="assets/img/sample.reports.img4.plos-alm.jpg" height="394" width="604" alt="" />
      <p class="info">Geolocation of 410 authors for 84 articles</p>
      <p>SOURCE: 75 published articles from Sept 25, 2009 to January 12, 2011</p>
    </div>
  </div>
  <div class="report-downloads">
    <h2 class="albert-light-normal">Downloads</h2>
    <ul>
      <li><a href="fixme"><span class="csv"></span><span class="file-name">Metrics Data<span> 1.2MB - CSV file</span></span><span class="arrow"></span></a></li>
      <li><a href="fixme"><span class="png"></span><span class="file-name">Visualizations<span> 5.7MB - PNGS in ZIP file</span></span><span class="arrow"></span></a></li>
      <li><a href="fixme"><span class="csv"></span><span class="file-name">Your List of Article DOIs<span> 157K - CSV file</span></span><span class="arrow"></span></a></li>
    </ul>
    <div class="report-share-block">
      <a class="submit-btn" href="fixme">Share</a>
      <div class="share-box">
        <a href="fixme"><span class="google-plus-logo"></span><span class="google-plus-text">Google+</span></a>
        <a href="fixme"><span class="facebook-logo"></span><span class="facebook-text">Facebook</span></a>
        <a href="fixme"><span class="twitter-logo"></span><span class="twitter-text">Twitter</span></a>
        <a href="fixme"><span class="email-logo"></span><span class="email-text">Email</span></a>
      </div>
    </div>
  </div>
</div>
