
<div class="content wrapper">
  <%= render "reports_nav" %>

  <div class="visualizations-container">
    <div class="visualizations-list">
      <div class="reports-header-div">
        <span class="list-numbers">1</span>
        <h2 class="albert-light-normal">Article Usage as a function of Age</h2>
      </div>
      <div id="article_usage_div" style="width: 670px; height: 392px;"></div>
      <p class="info">Total usage includes page views and downloads from PLOS and PMC.</p>
    </div>

    <div class="visualizations-list">
      <div class="reports-header-div">
        <span class="list-numbers">2</span>
        <h2 class="albert-light-normal">Article Citations as a function of Age</h2>
      </div>
      <div id="article_citation_div" style="width: 670px; height: 392px;"></div>
      <p class="info">Cumulative citations from each of the citation indices.</p>
    </div>    
  
    <div class="visualizations-list">
      <div class="reports-header-div">
        <span class="list-numbers">3</span>
        <h2 class="albert-light-normal">Discussion Activity as a function of Age</h2>
      </div>
      <div id="social_scatter_div" style="width: 670px; height: 392px;"></div>
      <p class="info">Activity across blogs, news media, social media, and other online content sources. Those with no activity are not displayed.</p>
    </div>

    <div class="visualizations-list last-visualizations-list">
      <div class="reports-header-div">
        <span class="list-numbers">4</span>
        <h2 class="albert-light-normal">Mendeley Bookmarks by Location</h2>
      </div>
      <div id="article_mendeley_readers_div" style="width: 670px; height: 392px;"></div>
      <p class="info">Geolocation of <%= @reader_total %> individuals who have saved the article in Mendeley.</p>
    </div>
  </div>

  <div class="report-downloads">
    <h2 class="albert-light-normal">Downloads</h2>
    <ul>
      <li>
        <a id="download_viz">
          <span class="png"></span>
          <span class="file-name">Visualizations</span>
          <span class="arrow"></span>
        </a>
      </li>
    </ul>

    <%= render "report_share" %>
  </div>

</div>


<script type="text/javascript">
function haveDataToDrawViz() {
  return <%= @draw_viz %>;
}

function drawVizForOne() {
  return true;
}

function getArticleUsageData() {
  return <%= raw @article_usage_data %>;
}

function getArticleCitationData() {
  return <%= raw @article_citation_data %>;
}

function getSocialScatterData() {
  return <%= raw @social_scatter.to_json %>;
}

function getMendeleyReaderData() {
 return  <%= raw @reader_data %>;
}

</script>

<%= javascript_include_tag "charts" %>