<!doctype html>
<html class="no-js" lang="en">

<head>

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= @title %> | PLOS</title>

  <%= stylesheet_link_tag    "application" %>

  <!--[if lt IE 9]>
  <script src="assets/vendor/html5shiv.min.js"></script>
  <![endif]-->

  <script type="text/javascript">
    WebFontConfig = { fontdeck: { id: '23311' } };

    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
</head>

<body>
  <div class="container">
    <header class="nav-area">
      <div class="wrapper">
        <h1><a href="fixme"><%= image_tag "logo.plos-alm.png", :height => '48', :width => '372', :alt => 'Public Library of Science' %></a></h1>
        <ul class="albert-light-normal">
          <li><a href="http://article-level-metrics.plos.org/">PLOS Article-Level Metrics</a></li>
          <li><a href="http://www.plos.org/">plos.org</a></li>
        </ul>
        <div class="tagline albert-light-italic">
          <h2 class="albert-light-normal">ALM: Measuring the Impact of Research</h2>
          <p>This tool allows you to see the usage and social metrics for any set of articles from PLOS.</p>
          <p>
            <a href="fixme">Sample Charts</a>
            <span class="albert-light-normal">|</span>
            <a href="fixme">Sample Metrics</a>
            <span class="albert-light-normal">|</span>
            <a href="http://www.plosone.org/feedback/new">Send Us Feedback</a>
          </p>
        </div>
        <div class="list-outer-container">
          <div class="list-container">
            <span class="list-label">Your List</span>
            <span class="list-count"><%= @preview_list_count.nil? ? 0 : @preview_list_count %></span>
          </div>
          <div class="list-hover">
            <a href="/reports/generate">View Report</a>
            <a href="/preview-list">Edit List</a>
          </div>
        </div>
        
        <% if @display_nav %>
        <ul class="progress-bar">
          <li class="<%= @tab == :select_articles ? 'progress-bar-tab1-active progress-bar-tab1' : 'progress-bar-tab1' %>">Select Articles</li>
          <li class="<%= @tab == :preview_list ? 'progress-bar-tab2-active progress-bar-tab2' : 'progress-bar-tab2' %>">Preview List</li>
          <li class="<%= @tab == :view_report ? 'progress-bar-tab3-active progress-bar-tab3' : 'progress-bar-tab3' %>">View Report</li>
        </ul>
        <% end %>
      </div>
    </header>
    <div class="wrapper" id="error-message-div"></div>

    <%= yield %>

    <footer class="nav-area">
      <div class="wrapper">
      	<div class="credits">
        	<a class="footer-logo" href="http://www.plos.org/"><%= image_tag "footer.logo.plos-alm.png", :height => '39', :width => '116', :alt => 'Public Library of Science' %></a>

          <p>
            <a href="/about">About</a>
            <span>|</span>
            <a href="/privacy_policy">Privacy Policy</a>
            <span>|</span>
            <a href="/terms_of_use">Terms of Use</a>
          </p>
        </div>
        <div class="plos-links-holder">
          <h2>Journals</h2>
          <ul class="journal-links">
            <li><a href="http://www.plosbiology.org/">PLOS Biology</a></li>
            <li><a href="http://www.plosmedicine.org/">PLOS Medicine</a></li>
            <li><a href="http://www.ploscompbiol.org/">PLOS Computational Biology</a></li>
            <li><a href="http://currents.plos.org/">PLOS Currents</a></li>
            <li><a href="http://www.plosgenetics.org/">PLOS Genetics</a></li>
            <li><a href="http://www.plospathogens.org/">PLOS Pathogens</a></li>
            <li><a href="http://www.plosone.org/">PLOS ONE</a></li>
            <li><a href="http://www.plosntds.org/">PLOS Neglected Tropical Diseases</a></li>
          </ul>
          <ul class="external-links">
            <li><a href="http://www.plos.org/">plos.org</a></li>
            <li><a href="http://blogs.plos.org/">Blogs</a></li>
            <li><a href="http://www.ploscollections.org/">Collections</a></li>
            <li><a href="http://www.plosone.org/feedback/new">Send us feedback</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>

  <%= javascript_include_tag "application" %>  

</body>
</html>    
